
<h2>Account</h2>

<form>
    <fieldset>
        <legend>Profile</legend>
        <label>
            <span>Userid: {{userId}}</span>
        </label>
        <label>
            <span>Name:</span>
            <input type="text" name="name" ng-model="user.name"/>
        </label>

        <label>
            <span>Email:</span>
            <input type="text" name="name" ng-model="user.email"/>
        </label>
    </fieldset>

<!--     <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="confirm"/>
        </label>

        <button ng-click="updateStuff()">update stuff</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset> -->
</form>

<button ng-click="logout()">Log Out</button>
<button ng-click="getList()">Get list of users</button>
<button ng-click="getOne()">Get current user</button>
<button ng-click="getAll()">Get all users (useful?)</button>

<br>
<h3>Current User's Transactions</h3>
<ul ng-repeat="(dealId, transaction) in transactionsOfUser">
  <li>{{ transaction.startTimestamp }} | {{transaction.dealId}}
    <!-- <a href="#/deals/{{ dealId }}">description</a>  -->
    <!-- <button ng-click="deleteDeal(dealId, deal.merchantId)">delete</button>  -->
  </li>
</ul>
<hr>



