<h3>List of deals</h3>
<ul ng-repeat="(dealId, deal) in deals">
  <li>Title: {{ deal.title }} | Description: {{ deal.description }}" 
  </li>
</ul>
<hr>

USER INFORMATION
Address1:
<input type="text" ng-model="user.address1" value="{{ user.address1 }}" /><br>
Address2:
<input type="text" ng-model="user.address2" value="{{ user.address2 }}" /><br>
City:
<input type="text" ng-model="user.city" value="{{ user.city }}" /><br>
State:
<input type="text" ng-model="user.state" value="{{ user.state }}" /><br>
Zip:
<input type="text" ng-model="user.zip" value="{{ user.zip }}" /><br>
Latitude: {{ user.location[0] }} <br>
Longitude: {{ user.location[1] }} <br>
<input type="text" ng-model="user.radius" value="{{ user.radius }}" /><br>

<button ng-click="refineByLocation()">Refine by location</button>
<br>

<!-- <h3>Create a new deal</h3>
<form ng-submit="submitDeal()">
  Title:
  <input type="text" ng-model="deal.title" /><br>
  Description:
  <input type="text" ng-model="deal.description" /><br>

  <input type="submit" value="Create Deal" />
</form>
<br><br><br>
 -->
Deals: {{ deals }}
<br><br><br>
Deal: {{ deal }}