<h2> User is {{ userId }} </h2>
<br>

<button ng-click="getCurrUserTransactions()">get Current User's Transactions</button>
<button ng-click="getAll()">get all Transactions</button> 
<button ng-click="update()">update with dummy trans id</button> 
<br>

<form ng-submit="createTransaction()">
  <fieldset>
    <label>Cost:</label>
    <input type="text" ng-model="transaction.amount" />$<br>
    <label>Quantity:</label>
    <input type="text" ng-model="transaction.quantity" /><br>
    <input type="submit" value="Create transaction" />
  </fieldset>
</form>

<div>
  <fieldset>
      <h4> Current User's transactions</h4>
    <ul ng-repeat="(transactionId, transaction) in currUserTransactions">
      Transaction id:  {{ transactionId }}
      <li> deal Id: {{ transaction.dealId }} | starttime: {{transaction.startTimestamp}}
        <!-- <a href="#/deals/{{ dealId }}">description</a>  -->
      <button ng-click="deleteTransaction(transactionId)">delete</button> 

      </li>
    </ul> 
  </fieldset>
</div>







